
@{
    ViewBag.Title = "AdminHome";
}
<div class="ExtraForPossib">
    <div class="Possibilities">@Html.ActionLink("Зареєструвати користувача", "Register", "Account")</div>
    <div class="Possibilities">@Html.ActionLink("Додати новину", "AddNew", "News")</div>
</div>


