
@{
    ViewBag.Title = "AdminHome";
}
<div class="ExtraForPossib">
    <div class="Possibilities">@Html.RouteLink("Зареєструвати користувача", new { controller = "Account", action = "Register" } )</div>
    <div class="Possibilities">@Html.RouteLink("Додати новину", new { controller = "News", action = "AddNew" } )</div>
</div>


