@section PageTitle
{
    Домашня сторінка - адміністратор
}
<div class="ExtraForPossib">
    <div class="Possibilities"><span>@Html.RouteLink("Зареєструвати користувача", new { controller = "Account", action = "Register" })</span></div>
    <div class="Possibilities"><span class="add">@Html.RouteLink("Додати новину", new { controller = "AddNews", action = "AddNew" })</span></div>
</div>


