@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

<div class="Hi">@Html.ActionLink("Вітаємо, " + User.Identity.GetUserName() + "!", "Index", "PersonalArea", routeValues: null, htmlAttributes: new { title = "Manage" })</div> 
<div class="Exite"><a href="javascript:document.getElementById('logoutForm').submit()">Вийти</a></div>

    }
}
else
{
   <span>
       @Html.ActionLink("Увійти!", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
   </span> 
}
