@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <div class="Hi">@Html.RouteLink("Вітаємо, " + User.Identity.GetUserName() + "!", new { controller = "PersonalArea", action = "Index" })</div> 
        <div class="Exit"><a href="javascript:document.getElementById('logoutForm').submit()">Вийти</a></div>
    }
}
else
{
   <span>
       @Html.RouteLink("Увійти!", new { action = "Login", controller = "Account"})
   </span> 
}
