@model List<News.Models.NewsOfListViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Новини</h2>

<ul class="news">
    @foreach (var n in Model)
    {
        <li>
            <h3><a href="~/News/MoreInfo/@n.Id">@n.Header</a></h3>            
            <div class="text-info">@n.Date</div>
            <div class="text-success">@n.Author</div>
            <div></div>
        </li>
    }
</ul>

